@use "./Variables.scss" as *;

.footer-container {
  display: flex;
  justify-content: center;
  gap: 6rem;
  background-color: #d9d9d9;
  width: 100vw;
  height: 10vh;
  padding: 15px;
  position: fixed;
  bottom: 0;

  img {
    height: 40px;
  }
}
