@use "./Variables.scss" as *;

.footer-container {
  display: flex;
  justify-content: center;
  gap: 6rem;
  background-color: #d9d9d9;
  width: 375px;
  height: 10vh;
  padding: 15px;
  position: fixed;
  bottom: 0;
}

.navCalendar {
  display: flex;
}

.navHome {
  display: flex;
}

.navChat {
  display: flex;
}
