@use "./Variables.scss" as *;

.ressources-container {
  background-color: $background-color-container;

  h1 {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .title-graphics {
    margin: 80px 20px;
    margin-bottom: 30px;
    padding-top: 20px;
    border-top: solid 2px black;
  }
  .text-graphic {
    margin-top: 20px;
    margin-left: 20px;
  }
}

.graphic-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.text-graphic {
  font-size: 0.8rem;
}
